fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: forbid-new-submodules
  # - id: no-commit-to-branch

- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
    - id: nbstripout

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    args: ["--config", "./src/pyproject.toml"]
    additional_dependencies: [ "black[toml]" ]

# https://python-poetry.org/docs/pre-commit-hooks/
repos:
-   repo: https://github.com/python-poetry/poetry
    rev: 1.7.1
    hooks:
    -   id: poetry-check
        args: ["-C", "./src"]
    -   id: poetry-lock
        args: ["-C", "./src"]
    -   id: poetry-export
        args: ["-C", "./src", "-f", "requirements.txt", "-o", "./src/requirements.txt"]
    -   id: poetry-install
        args: ["-C", "./src"]
